<footer>
    <div class="container text-white text-center justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-4 py-5">
                <div class="item">
                    <h2>LOCATION</h2>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4 py-5">
                <div class="item">
                    <h2 class="mb-3">AROUND THE WEB</h2>
                    <div class="icons d-flex justify-content-center align-items-center gap-3">
                        <div class="icon-item rounded-circle d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                        <div class="icons">
                            <div class="icon-item rounded-circle d-flex justify-content-center align-items-center">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                        </div>
                        <div class="icons">
                            <div class="icon-item rounded-circle d-flex justify-content-center align-items-center">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>
                        </div>
                        <div class="icons">
                            <div class="icon-item rounded-circle d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-globe"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-5">
                <div class="item">
                    <h2>ABOUT FREELANCER</h2>
                    <p class="fs-6">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div>
    <p class="p-0 m-0 py-4 text-center bg-dark text-white">Copyright © Your Website 2021</p>
</div>