<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="about-content d-flex flex-column justify-content-center align-items-center text-white">
                <div class="title mt-5">
                    <h2 class="text-white fw-bolder fs-1 mb-3">ABOUT COMPONENT</h2>
                    <div class="my-2 d-flex justify-content-center align-items-center">
                        <div class="line me-3"></div>
                        <i class="fa-solid fa-star"></i>
                        <div class="line ms-3"></div>
                    </div>
                </div>
                <div class="about-text d-flex justify-content-center align-items-center p-4">
                    <div class="col-md-6 p-5">
                        <p>
                            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS
                            stylesheets for easy customization.
                        </p>
                    </div>
                    <div class="col-md-6 p-5">
                        <p>
                            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS
                            stylesheets for easy customization.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
