<section id="contact" class="py-5">
    <div class="container">
        <div class="title mb-2 d-flex flex-column justify-content-center align-items-center">
            <h2 class="fw-bolder fs-1">CONTACT COMPONENT</h2>
            <div class="my-2 d-flex justify-content-center align-items-center">
                <div class="line me-3"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3"></div>
            </div>
        </div>
        <div class="row w-75 mx-auto">
            <div class="col-md-12">
                <div class="mb-5">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="UserName" />
                </div>
                <div class="mb-5">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="UserAge" />
                </div>
                <div class="mb-5">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" />
                </div>
                <div class="mb-5">
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password" />
                </div>
                <button class="btn btn-primary">Send Message</button>
            </div>
        </div>
    </div>
</section>
