<section id="home" class="d-flex align-items-center justify-content-center py-5">
    <div class="container">
        <div class="row">
            <div class="home-content text-center text-white">
                <div class="image mx-auto">
                    <img src="/assets/avataaars.svg" class="w-100 mb-4" alt="" />
                </div>
                <div class="copontent">
                    <h2 class="fs-1 fw-bold">START FRAMEWORK</h2>
                    <div class="my-2 d-flex justify-content-center align-items-center">
                        <div class="line me-3"></div>
                        <i class="fa-solid fa-star"></i>
                        <div class="line ms-3"></div>
                    </div>
                    <p class="lead">Graphic Artist - Web Designer - Illustrator</p>
                </div>
            </div>
        </div>
    </div>
</section>
