#home {
    background-color: #1abc9c;
}

.home-content {
    margin-top: 100px;
}

.image{
    width: 15rem;
}

#home .line {
    width: 5rem;
    height: 0.3rem;
    background-color: aliceblue;

}
